<%= form_for(@meeting) do |f| %>
  <%= display_notification(@meeting) %>
  <div class="field">
    <%= f.label :start_time %><br>
    <%= f.time_select :start_time %>
  </div>
  <div class="field">
    <%= f.label :end_time %><br>
    <%= f.time_select :end_time %>
  </div>
  <div class="field">
    <%= f.label :date %><br>
    <%= f.date_select :date %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :venue %><br>
    <%= f.text_field :venue %>
  </div>
  <div class="field">
    <div id="my_visitors"><%= show_user_visitors %></div>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<a id="add_new_visitor" "#">Add New Visitor</a>
<%= render "new_visitor_form" %>
