<div id="new_visitor_form">
  <%= form_for(Visitor.new, url: visitors_path, remote: true) do |f| %>
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :email %>
      <%= f.email_field :email %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>
</div>
